header {
  background: #337ab7;
}

header h1 {
  color: #ffffff;
}

.form-control {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
}

.btn-block {
  margin-bottom: 30px;
}

.list-group-item .img-circle {
  width: 100px;
  height: auto;
}
